body{
	margin: 0;
	padding: 0;
	
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#content h2{
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 0 3px #000;
}

#content{
	padding: 30px;
	font-size: 25px;
	border-radius: 16px;
	background: rgba(0, 0, 0, .1);
	backdrop-filter: blur(7px);
	border: 2px solid rgba(255, 255, 255, .3);
}

#content #form{
	width: inherit;
	padding: 30px;
	font-size: 18px;
	color: #fff;
}

.form-group{
	margin-bottom: 12px;
}

input[type="text"],input[type="email"]{
	color: #eee;
	width: 92%;
	height: 50px;
	border: none;
	font-style: italic;
	border-bottom: 2px solid #fff;
	outline: none;
	padding: 0 35px 0 5px;
	background: transparent;
	font-size: 16px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

input ~ label{
	position: relative;
	top: -40px;
	left: 5px;
	transform: translateY(-50%);
	transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
	top: -60px;;
}

button{
	width: 24%;
	padding: 9px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}
button:hover{
	color: #fff;
	background: none;
	transition: .5s;
	border: 2px solid #fff;
}

/*button[type="reset"]{
	color: #fff;
	padding: 9px;
	font-size: 16px;
	background: none;
	border: 2px solid #fff;
}
button[type="reset"]:hover{
	color: #000;
	background: #fff;
	transition: .5s;
}*/
